*logs*
*.log
*~
_vim/ropevim/src*
_vim/ropevim/pylibs*
_vim/view/
_vim/.cache/
_vim/.netrwhist
_ssh/id_rsa*
_ssh/known_hosts
_ssh/authorized_keys
*.swp
*.pyc
_emacs.d/elpa
_emacs.d/projectile*
_helpers/offlineimap-helpers.pyc
